<!DOCTYPE html>
<html ng-app="dwrexplorer">
<head>
    <title>panel</title>
    <link rel="stylesheet" type="text/css" href="../css/dwrexplorer.css">
    <script src="../lib/cycle.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/ngClipboard.js"></script>
    <script src="../lib/ngResizer.js"></script>
    <script src="../lib/ngObject.js"></script>
</head>
<body>
<main ng-controller="AppController">
    <aside class="side-panel">
        <div class="toolbarContainer">
            <div class="clearItems" ng-click="clearItems();"></div>
            <input class="filterItems" placeholder="Enter Regular Expression" ng-model="filterPattern"></input>
        </div>
        <div class="entriesContainer">
            <ol>
                <li ng-repeat="dwr in dwrs" ng-class="{selected: dwr === selectedDWR}" ng-show="isVisible(dwr);">
                    <a href="javascript:void(0)" ng-click="selectEntry($event, dwr);"
                        title="{{dwr.har.request.url}}">
                        {{dwr.name}}
                    </a>
                </li>
            </ol>
        </div>
    </aside>
    <div class="separator"
         ng-resizer="vertical"
         ng-resizer-left=".side-panel" 
         ng-resizer-right=".detail-panel"></div>
    <div class="detail-panel">
        <div class="toobarContainer">
            <a href="javascript:void(0);" ng-click="switchPanel('RESPONSE')">Response</a>
            <a href="javascript:void(0);" ng-click="switchPanel('REQUEST')">Request</a>
        </div>
        <div ng-if="currentPanel==='RESPONSE'">
            <ng-object object="selectedDWR.parsedResponse" object-name="'Response'"></ng-object>
        </div>
        <div ng-if="currentPanel==='REQUEST'">
            <ng-object object="selectedDWR.parsedRequest" object-name="'Request'"></ng-object>
        </div>
    </div>
</main>
<iframe id="sandbox" src="../sandbox.html" style="display: none;"></iframe>

<script src="../js/dwr2script.js"></script>
<script src="../js/dwrexplorer.js"></script>
<script src="../js/appController.js"></script>
<script src="../js/detailController.js"></script>

</body>
</html>