<!DOCTYPE html>
<html ng-app="dwrexplorer">
<head>
    <title>DWR Explorer</title>
    <link rel="stylesheet" type="text/css" href="../css/dwrexplorer.css">
    <script src="../lib/cycle.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/ngClipboard.js"></script>
    <script src="../lib/ngResizer.js"></script>
    <script src="../lib/ngObject.js"></script>
</head>
<body>
<main ng-controller="AppController">
    <aside class="sidePanel flexView">
        <div class="flexToolbar sidePanelToolbar">
            <a href="javascript:void(0);" class="toolbarButton clearItems" ng-click="clearItems();" title="Clear Entries"></a>
            <input class="filterItems" placeholder="Filter Requests by RegEx" ng-model="filterPattern"></input>
        </div>
        <div class="flexViewBody entriesContainer J_EntriesContainer">
            <ol class="dwrList">
                <li ng-repeat="dwr in dwrs" class="dwrEntry" ng-class="{selected: dwr === selectedDWR}"
                    ng-show="isVisible(dwr);" ng-click="selectEntry(dwr, $event);"
                    title="{{dwr.har.request.url}}">
                    {{dwr.name}}
                </li>
            </ol>
        </div>
    </aside>
    <div class="separator"
         ng-resizer="vertical"
         ng-resizer-left=".sidePanel" 
         ng-resizer-right=".detailPanel"
         ng-resizer-left-min="150"
         ng-resizer-width="6"></div>
    <div class="detailPanel flexView">
        <div class="flexToolbar">
            <a href="javascript:void(0);" class="toolbarTabButton"
                ng-class="{selected: isCurrentTab('RESPONSE')}" ng-click="switchTab('RESPONSE')">Response</a>
            <a href="javascript:void(0);" class="toolbarTabButton"
                ng-class="{selected: isCurrentTab('REQUEST')}" ng-click="switchTab('REQUEST')">Request</a>
        </div>
        <div class="detailPanelContainer flexViewBody" ng-if="selectedDWR">
            <div ng-style="{display: isCurrentTab('RESPONSE') ? 'block': 'none'}">
                <ng-object object="selectedDWR.parsedResponse" expand-first="true"></ng-object>
            </div>
            <div ng-style="{display: isCurrentTab('REQUEST') ? 'block': 'none'}">
                <!-- TODO: no request/response hint -->
                <div ng-if="selectedDWR.parsedRequest.length === 0" class="noDataHint">No request body</div>
                <section class="requestCallDetail" ng-repeat="call in selectedDWR.parsedRequest">
                    <h1 class="callTitle" ng-if="selectedDWR.parsedRequest.length > 1">Call {{$index + 1}}</h1>
                    <div ng-repeat="param in call track by $index">
                        <h2 class="paramTitle" ng-if="call.length > 1">Param {{$index + 1}}</h2>
                        <ng-object object="param" expand-first="true"></ng-object>
                    </div>
                </section>
                <div class="requestHint" ng-if="selectedDWR.parsedRequest.length !== 0">
                    Please note that the parsed request may slightly differ from your original data.
                    <a href="javascript:void(0);" ng-click="toggleRequestHintDetail()">{{getShowRequestHintDetail() ? 'Hide Details' : 'Show Details'}}</a>
                    <ul ng-if="getShowRequestHintDetail()">
                        <li>"undefined" in the original data will be shown as "null".</li>
                        <li>All functions will be removed from objects.</li>
                        <li>String objects which is created by "new" operator (e.g. new String('some text')) will be shown as corresponding literal string. (The same to Number and Boolean.)</li>
                        <li>Special types such as Regular Expression, Date, XML, NaN, etc. are not supported and may cause unexpected behavior.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<iframe id="sandbox" src="../sandbox.html" style="display: none;"></iframe>

<script src="../js/dwr2script.js"></script>
<script src="../js/appController.js"></script>

</body>
</html>