<!DOCTYPE html>
<html ng-app="dwrexplorer">
<head>
    <title>panel</title>
    <link rel="stylesheet" type="text/css" href="../css/dwrexplorer.css">
    <script src="../lib/angular.min.js"></script>

</head>
<body>
<main ng-controller="AppController">
    <aside class="J_DWRList side-panel">
        <ol ng-model="dwrs">
            <li ng-repeat="dwr in dwrs">
                <a href="javascript:void(0)" ng-click="showDetail($event, dwr.res);">{{dwr.name}}</a>
            </li>
        </ol>
    </aside>
    <div class="J_DWRContent detail-panel" ng-controller="DetailController" ng-model="content">
        <ol class="tree-outline" ng-model="tree.items">
            <li ng-class="{parent: item.hasItems}"
                ng-repeat="item in tree.items"
                ng-include="templates.tree"
                ng-click="toggleItem($event, item)"></li>
        </ol>
    </div>
</main>
<iframe id="sandbox" src="../sandbox.html" style="display: none;"></iframe>

<script src="../js/dwrexplorer.js"></script>
<script src="../js/appController.js"></script>
<script src="../js/detailController.js"></script>

</body>
</html>